body {
  background-color: #131313;
  color: #dddbd4;
  font-family: 'SF Pro Display', sans-serif;


  /* White       #dddbd4  */
  /* Green       #3a884d  */
  /* Dark green  #173236  */
}

a {
  text-decoration: none;
  color: #dddbd4;
}

svg {
  cursor: pointer;

  &:hover {
    opacity: 90% !important;

    transition: 0.2s;
  }

  opacity: 50%;

  /* font-size: 24px; */
}

